body {
    font: 16px "Century Gothic", Futura, sans-serif;
    margin: 0px;
    background-color: rgba(0, 0, 0, 0.075);
  }
:focus {
  outline: none;
}
#headercover {
  width: 100%;
  height: auto;
}
.headertabs {
  list-style: none;
  text-align: center;
  background-color: rgba(236, 102, 24, 0.719);
  padding: 12px;
  margin: 0;
  
}
.headertabs li {
  display: inline-block;
  padding: 7px 10px;
  color: aliceblue;
  font-size: 15px;
}
.headertabs a {
  text-decoration: none;
  color: aliceblue;
  font-size: 15px;
}
.headertabs a:hover{
  color: rgba(240, 248, 255, 0.541);
}
.login {
  float: right;
}
.headertabs button{
  margin: 0 10px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  color: aliceblue;
  outline: aliceblue solid 1px;
  font-size: 15px;
  padding: 7px;
}
.login button {
  background-color: rgba(236, 102, 24, 0);
  color: rgba(240, 248, 255, 0.932);
}
#connexion {
  background-color: rgba(240, 248, 255, 0.87);
  color: rgba(236, 102, 24, 0.719);
}
.login button:hover {
  background-color: rgba(240, 248, 255, 0.274);
}
#connexion:hover {
  color: rgba(236, 102, 24, 0.384);
}
.listechapitres {
  list-style: none;
  margin: 20px;
  background-color: whitesmoke;
  padding: 15px;
  width: 950px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 0px 35px -15px;
}
.listechapitres li{
  display: block;
  border: rgba(236, 102, 24, 0.719) solid 1px;
  margin: 10px;
  padding: 10px 20px;
  
}
.listechapitres ul {
  margin: 0;
  padding: 0;
}
.listechapitres a {
  text-decoration: none;
  color: rgb(26, 26, 26);
  font-size: 22px;
  font-weight: 550;
  
  
}
.listechapitres label {
  font-weight: 450;
  font-size: 20px;
 
}
.diapoboutton {
  padding: 8px;
  border: none;
  background-color: rgba(236, 102, 24, 0.719);
  position: relative;
  margin: 15px ;
  color: whitesmoke;

}
.diapobouttoncontenair {
  text-align: center;
}
.curentdiapo {
  padding: 20px 40px;
}
.listediapo li{
  border: none;
  margin: 0;
  padding: 0px 15px ;
  padding-top: 10px;
}
.problematique {
  color: darkgreen;
  font-size: 1.5em;

}
.note {
  font-style: italic;
}
.successmsg {
  color: rgb(0, 173, 0);
  height: 35px;
  text-align: center;
  padding: 15px;
}
.mouseoverclick:hover {
cursor: pointer;
}
.contenairecriture {
  text-align: center;
}
.ecriturebackground {
  width: 850px ;
  background-color: ghostwhite;
  padding: 10px;
  margin: 10px;
  position :relative;
  margin-left : auto;
  margin-right: auto;
  text-align: start;
}
.ecriturecomptable {
  margin-left: 50px;
}
.ecriturecomptable ul {
  list-style: none;
}
.ecriturecomptable .debit div,.ecriturecomptable .credit div{
  display: inline-block;
}
.ecriturecomptable .compte {
  width: 40px;
  margin-left: 50px;
}
.ecriturecomptable .debit {
  padding-bottom: 0;
}
.intitule {
  border-left: 1px solid black;
  border-right: 1px solid black;
  padding-bottom: 2px;
  width: 350px ;
  padding-left: 5px;
}
.credit .intitule {
  padding-left: 75px;
  width: 280px;
}
.ecriturecomptable .debit li:first-child div:nth-child(2) {
  border-top: 1px solid black;
  padding-top: 18px;
}
.ecriturecomptable .debit li:last-child div:nth-child(2) {
  padding-bottom: 18px;
}
.ecriturecomptable .credit li:last-child div:nth-child(2) {
  border-bottom: 1px solid black ;
  padding-bottom: 5px;
}
.ecriturecomptable .date {
  margin-left: 250px;
  position: relative;
  bottom: -10px;
  background-color: ghostwhite;
  width: 85px;
  padding: 0 5px;
}
.ecriturecomptable .montant {
  padding-left: 5px;
  width: 80px;
  padding-bottom: 2px;
}
.ecriturecomptable .credit .montant {
  padding-left: 5px;
  margin-left: 85px;
  border-left: 1px solid black;
}
.ecriturecomptable .debit .montant {
  border-right: 1px solid black;
}
.ecriturecomptable .debit li:first-child .montant {
  padding-top: 18px;
}
.ecriturecomptable .debit li:last-child .montant {
  padding-bottom: 18px;
}
.ecriturecomptable .credit li:last-child .montant {
  padding-bottom: 5px;
}
.ecriturecomptable input {
  width: 80%;
  height: 1em;
}