body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 0px;
  }
:focus {
  outline: none;
}
#headercover {
  width: 100%;
  height: auto;
}
.headertabs {
  list-style: none;
  text-align: center;
  background-color: rgba(236, 102, 24, 0.719);
  padding: 12px;
  margin: 0;
  
}
.headertabs li {
  display: inline-flex;
  padding: 7px 10px;
  color: aqua;
}
.headertabs a {
  text-decoration: none;
  color: aliceblue;
  font-size: 15px;
}
.headertabs a:hover{
  color: rgba(240, 248, 255, 0.541);
}
.login {
  float: right;
}
.headertabs button{
  margin: 0 10px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  color: aliceblue;
  outline: aliceblue solid 1px;
  font-size: 15px;
  padding: 7px;
}
.login button {
  background-color: rgba(236, 102, 24, 0);
  color: rgba(240, 248, 255, 0.932);
}
#connexion {
  background-color: rgba(240, 248, 255, 0.87);
  color: rgba(236, 102, 24, 0.719);
}
.login button:hover {
  background-color: rgba(240, 248, 255, 0.274);
}
#connexion:hover {
  color: rgba(236, 102, 24, 0.384);
}